---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="relative z-0 h-screen w-screen bg-black">
    <p
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-xl text-white"
    >
      คุณนั่งลงหน้าเคาท์เตอร์<br /> ทักทายกับบาร์เทนเดอร์<br />
       ที่คุณไม่เคยเห็นหน้า
    </p>
    <p class="absolute left-[73.488372093%] top-[63.30472103%] text-white/50">
      Tap to<br />continue
    </p>
  </div>
</BaseLayout>
