---
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import ChoiceCard from "@/components/story/ChoiceCard";
import Textbox from "@/components/story/Textbox";
import Button from "@/components/story/Button";

import Bar from "@/assets/images/bar.webp";

interface Props {
  id?: string;
  text: string;
  redirect: string;
}

const { text, redirect, id } = Astro.props;
---

<BaseLayout>
  <Image
    class="absolute h-full w-full object-cover"
    src={Bar}
    alt=""
    aria-hidden
  />
  <form action={redirect} class="z-10 mx-auto my-auto max-w-full px-8">
    <ChoiceCard header={text}>
      <Textbox client:load id={id} />
      <Button text="ไปต่อ" />
    </ChoiceCard>
  </form>
</BaseLayout>
