---
import Background from "@/assets/images/barBackground.png";
---

<div class="relative h-screen w-screen">
  <div
    class="absolute left-1/2 top-1/2 z-40 h-screen w-screen -translate-x-1/2 -translate-y-1/2"
  >
    <img
      class="relative z-0 mx-auto h-screen w-screen object-cover"
      src={Background.src}
      alt="bar"
    />
  </div>
</div>
