---
export const prerender = false;

import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SignInBackground from "@/layouts/SignInBackground.astro";
import Hero from "@/components/register-page/Hero.tsx";

import escLogo from "@/assets/logo/esc-logo.webp";
import gearfestLogo from "@/assets/logo/gearfest-logo.webp";
import kntuLogo from "@/assets/logo/kntu-logo.webp";
---

<BaseLayout pageTitle="Login">
  <SignInBackground>
    <div
      class="relative flex h-full w-full flex-col items-center justify-center px-14 py-8"
    >
      <div class="grid grid-cols-3">
        <Image src={escLogo} alt="ESC" class="rounded-full backdrop-blur-lg" />
        <Image
          src={gearfestLogo}
          alt="Gear Festival 2023"
          class="rounded-full backdrop-blur-lg"
        />
        <Image
          src={kntuLogo}
          alt="KNTU"
          class="rounded-full backdrop-blur-lg"
        />
      </div>
      <Hero client:only />
    </div>
  </SignInBackground>
</BaseLayout>
