---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { supabase } from "@/lib/supabase";
import SignInWithGoogle from '@/components/SignInWithGoogle.astro';

// const signInWithGoogle = async () => {
// 		const { data, error } = await supabase.auth.signInWithOAuth({
// 			provider: 'google'
// 		});
// };

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<!-- TODO: Implement the logic for the Google OAuth -->

<BaseLayout pageTitle="Login">
  <div class="flex w-full flex-col items-center justify-center px-4">
  <form action="/api/auth/signin" method="post">
    <button value="google" name="provider" type="submit" class="flex h-fit w-full flex-wrap items-center justify-center gap-2 rounded-2xl border-2 border-red-800 px-4 py-2 text-center text-2xl shadow-md shadow-red-800 hover:translate-y-1 active:translate-y-0">
    <!-- <i class="icon-[devicon--google]"></i> -->
    Sign In With Google
    </button>
  </form>
  </div>
</BaseLayout>