---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SignInBackground from "@/layouts/SignInBackground.astro";
import Hero from "@/components/register-page/Hero.tsx";
---

<!-- TODO: Implement the logic for the Google OAuth -->
<BaseLayout pageTitle="Login">
  <SignInBackground>
    <div class="relative flex h-full w-full items-center justify-center px-14">
      <div class="absolute top-20 flex">
        <Image src="/logo/esc-logo.png" alt="ESC Logo" width="92" height="92" />
        <Image
          src="/logo/gearfest-logo.png"
          alt="Gear Festival 2023 Logo"
          width="92"
          height="92"
        />
        <Image
          src="/logo/kntu-logo.png"
          alt="KNTU Logo"
          width="92"
          height="92"
        />
      </div>
      <Hero client:load page="register" dDay={true} />
    </div>
  </SignInBackground>
</BaseLayout>
