@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Text.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
