---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button from "../../components/story/Button";
import ChoiceCard from "../../components/story/ChoiceCard";
const redirect = "./2";
import scores from "@/store/score";
console.log(scores.get());
---

<BaseLayout>
  <section
    class="flex w-full flex-col items-center justify-center gap-8 bg-slate-800"
  >
    <ChoiceCard header="นี่คือตัวอย่างปุ่ม\nที่ไม่นับคะแนนสักอัน">
      <Button client:load text="Option 1" redirect={redirect} />
      <Button client:load text="Option 2" redirect={redirect} />
      <Button client:load text="Option 3" redirect={redirect} />
    </ChoiceCard>
  </section>
</BaseLayout>
