---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ButtonScore from "../../components/story/ฺButtonScore";
import ChoiceCard from "../../components/story/ChoiceCard";
const redirect = "./3";
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <ChoiceCard header="นี่คือตัวอย่างปุ่ม\nที่นับคะแนนหมดเลย">
      <ButtonScore
        client:load
        text="Option 1"
        scoreArray={[2, 0, 2, 0, 0, 1]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="Option 2"
        scoreArray={[0, 2, 0, 0, 2, 1]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="Option 3"
        scoreArray={[3, 0, 1, 1, 1, 2]}
        redirect={redirect}
      />
    </ChoiceCard>
  </section>
</BaseLayout>
