---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/story/Button.tsx";
import Score from "@/components/story/Score";
const redirect = './3';
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <Score client:only />
    <Button client:load text="Option 1" scoreArray={[2,0,0,1,0,1]} redirect={redirect} />
    <Button client:load text="Option 2" scoreArray={[0,1,2,0,2,0]} redirect={redirect} />
    <Button client:load text="Option 3" scoreArray={[0,2,1,0,1,0]} redirect={redirect} />
  </section>
</BaseLayout>
