---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Q2";
import Background from "@/assets/images/barBackground.jpg";
---

<BaseLayout>
  <div class="relative h-screen w-screen">
    <form
      class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-8"
      action={redirect}
    >
      <ChoiceCard header="คุณเข้ามาที่บาร์แห่งหนึ่ง\nบาร์แห่งนี้เป็น">
        <ScoredButton
          client:load
          text="บาร์ชื่อดัง รีวิวแน่น"
          scores={[2, 0, 2, 0, 0, 1]}
        />
        <ScoredButton
          client:load
          text="บาร์ลับ สงบ ไม่ค่อยมีคน"
          scores={[0, 0, 0, 2, 2, 0]}
        />
        <ScoredButton
          client:load
          text="บาร์ที่คุณเคยมากับคนรู้จัก"
          scores={[1, 0, 2, 1, 0, 1]}
        />
      </ChoiceCard>
    </form>

    <div
      class="absolute left-1/2 top-1/2 z-40 h-screen w-screen -translate-x-1/2 -translate-y-1/2"
    >
      <img
        class="relative z-0 mx-auto h-screen w-screen object-cover"
        src={Background.src}
        alt="bar"
      />
    </div>
  </div>
</BaseLayout>
