---
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";

import Bar from "@/assets/images/bar.webp";
import BarLowRes from "@/assets/images/bar-low-res.webp";
---

<BaseLayout>
  <Image
    class="absolute -z-10 h-full w-full object-cover"
    src={Bar}
    alt=""
    aria-hidden
  />
  <div
    class="absolute -z-20 h-full w-full bg-cover bg-center"
    style={`background-image: url(${BarLowRes.src});`}
  >
  </div>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action="/story/q2"
  >
    <ChoiceCard header="คุณเข้ามาที่บาร์แห่งหนึ่ง\nบาร์แห่งนี้เป็น">
      <ScoredButton
        client:load
        text="บาร์ชื่อดัง รีวิวแน่น"
        scores={[2, 0, 2, 0, 0, 1]}
        multiplier={2}
      />
      <ScoredButton
        client:load
        text="บาร์ลับ สงบ ไม่ค่อยมีคน"
        scores={[0, 0, 0, 2, 2, 0]}
        multiplier={2}
      />
      <ScoredButton
        client:load
        text="บาร์ที่คุณเคยมากับคนรู้จัก"
        scores={[1, 0, 2, 1, 0, 1]}
        multiplier={2}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
