---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/story/Button";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Scene14"; //Temporary: Skip to the end of the story
import Background from "@/components/story/barBackground.astro";
---

<BaseLayout>
  <Background />
  <form
    class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-8"
    action={redirect}
  >
    <ChoiceCard header="การที่คุณเข้าบาร์นี้มา ทำให้คุณมีความสุขไหม">
      <Button client:load text="มี" />
      <Button client:load text="เฉย ๆ" />
    </ChoiceCard>
  </form>
</BaseLayout>
