---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button from "../../components/story/Button";
import ChoiceCard from "../../components/story/ChoiceCard";
const redirect = "./Scene14"; //Temporary: Skip to the end of the story
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <ChoiceCard header="การที่คุณเข้าบาร์นี้มา ทำให้คุณมีความสุขไหม">
      <Button client:load text="มี" redirect={redirect} />
      <Button client:load text="เฉย ๆ" redirect={redirect} />
    </ChoiceCard>
  </section>
</BaseLayout>
