---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/story/Button";
import ChoiceCard from "@/components/story/ChoiceCard";
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <ChoiceCard header="สิ่งแรกที่คุณให้ความสนใจคือ">
      <a href="./Q3A" class="flex h-fit w-full flex-wrap"
        ><Button client:load text="การตกแต่งร้าน" /></a
      >
      <a href="./Q3C" class="flex h-fit w-full flex-wrap"
        ><Button client:load text="คนในร้าน" /></a
      >
      <a href="./Q3B" class="flex h-fit w-full flex-wrap"
        ><Button client:load text="เสียงดนตรีประกอบ" /></a
      >
    </ChoiceCard>
  </section>
</BaseLayout>
