---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ButtonScore from "../../components/story/ฺButtonScore";
import ChoiceCard from "../../components/story/ChoiceCard";
const redirect = "./Scene3";
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <ChoiceCard header="บาร์แห่งนี้มีการตกแต่งแบบไหน">
      <ButtonScore
        client:load
        text="ตกแต่งเรียบหรู"
        scoreArray={[2, 0, 0, 1, 0, 1]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="แสงสีจัดเต็ม พร้อมปาร์ตี้สุด ๆ"
        scoreArray={[0, 1, 2, 0, 2, 0]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="แปลกใหม่ไม่เหมือนใคร"
        scoreArray={[0, 2, 1, 0, 1, 0]}
        redirect={redirect}
      />
    </ChoiceCard>
  </section>
</BaseLayout>
