---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Scene3";
---

<BaseLayout>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action={redirect}
  >
    <ChoiceCard header="บาร์แห่งนี้มีการตกแต่งแบบไหน">
      <ScoredButton
        client:load
        text="ตกแต่งเรียบหรู"
        scores={[2, 0, 0, 1, 0, 1]}
      />
      <ScoredButton
        client:load
        text="แสงสีจัดเต็ม พร้อมปาร์ตี้สุด ๆ"
        scores={[0, 1, 2, 0, 2, 0]}
      />
      <ScoredButton
        client:load
        text="แปลกใหม่ไม่เหมือนใคร"
        scores={[0, 2, 1, 0, 1, 0]}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
