---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ButtonScore from "../../components/story/ฺButtonScore";
import ChoiceCard from "../../components/story/ChoiceCard";
const redirect = "./Scene3";
---

<BaseLayout>
  <section class="flex w-full flex-col items-center justify-center gap-8">
    <ChoiceCard header="ในการมาบาร์วันนี้ คุณคาดหวังที่จะ">
      <ButtonScore
        client:load
        text="ชิว ๆ จิบเครื่องดื่มสบาย ๆ"
        scoreArray={[0, 2, 0, 1, 1, 0]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="แฮงก์เอ้าท์กับเพื่อน"
        scoreArray={[0, 2, 2, 0, 0, 2]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="พบเจอคนใหม่ ๆ ในชีวิต"
        scoreArray={[0, 0, 2, 1, 1, 1]}
        redirect={redirect}
      />
      <ButtonScore
        client:load
        text="หนีจากเรื่องทุกข์ใจ"
        scoreArray={[1, 0, 0, 2, 1, 2]}
        redirect={redirect}
      />
    </ChoiceCard>
  </section>
</BaseLayout>
