---
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
import QLayout from "@/layouts/story/QLayout.astro";
---

<QLayout>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action="/story/transition2-3"
  >
    <ChoiceCard header="ในการมาบาร์วันนี้ คุณคาดหวังที่จะ">
      <ScoredButton
        client:load
        text="ชิว ๆ จิบเครื่องดื่มสบาย ๆ"
        scores={[0, 2, 0, 1, 1, 0]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="แฮงก์เอ้าท์กับเพื่อน"
        scores={[0, 2, 2, 0, 0, 2]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="พบเจอคนใหม่ ๆ ในชีวิต"
        scores={[0, 0, 2, 1, 1, 1]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="หนีจากเรื่องทุกข์ใจ"
        scores={[1, 0, 0, 2, 1, 2]}
        multiplier={1.5}
      />
    </ChoiceCard>
  </form>
</QLayout>
