---
import QLayout from "@/layouts/story/QLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
---

<QLayout>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action="/story/scene4"
  >
    <ChoiceCard
      header="บาร์เทนเดอร์เริ่มชวนคุณคุยระหว่างชงเครื่องดื่ม เขาถามคุณว่า\nถ้ามีเวลาหนึ่งวันที่จะทำอะไรก็ได้\nคุณจะเลือกทำอะไร"
    >
      <ScoredButton
        client:load
        text="ดูหนังคนเดียวชิว ๆ"
        scores={[0, 2, 0, 1, 2, 0]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="กินข้าวกับครอบครัว"
        scores={[1, 1, 2, 2, 0, 1]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="ใช้เวลากับคนรัก"
        scores={[2, 1, 0, 2, 0, 1]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="พาสัตว์เลี้ยงไปเที่ยว"
        scores={[1, 2, 1, 1, 1, 1]}
        multiplier={1.5}
      />
      <ScoredButton
        client:load
        text="ปาร์ตี้กับเพื่อนฝูง"
        scores={[0, 2, 2, 0, 1, 1]}
        multiplier={1.5}
      />
    </ChoiceCard>
  </form>
</QLayout>
