---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
---

<BaseLayout>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action="/story/scene7"
  >
    <ChoiceCard header="คุณยังเลือกที่จะดื่มมันไหม">
      <ScoredButton
        client:load
        text="ไม่ดื่มดีกว่า"
        scores={[2, 0, 0, 0, 0, 0]}
      />
      <ScoredButton
        client:load
        text="ชิมสักหน่อย"
        scores={[0, 2, 1, 1, 1, 2]}
      />
      <ScoredButton
        client:load
        text="ดื่มเลย แปลกใหม่"
        scores={[0, 2, 2, 0, 2, 2]}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
