---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Scene7";
import Background from "@/components/story/barBackground.astro";
---

<BaseLayout>
  <Background />
  <form
    class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-8"
    action={redirect}
  >
    <ChoiceCard header="คุณยังเลือกที่จะดื่มมันไหม">
      <ScoredButton
        client:load
        text="ไม่ดื่มดีกว่า"
        scores={[2, 0, 0, 0, 0, 0]}
      />
      <ScoredButton
        client:load
        text="ชิมสักหน่อย"
        scores={[0, 2, 1, 1, 1, 2]}
      />
      <ScoredButton
        client:load
        text="ดื่มเลย แปลกใหม่"
        scores={[0, 2, 2, 0, 2, 2]}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
