---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Scene9";
import Background from "@/components/story/barBackground.astro";
---

<BaseLayout>
  <Background />
  <form
    class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center gap-8"
    action={redirect}
  >
    <ChoiceCard header="คุณจะจัดทริปครั้งนี้ยังไง">
      <ScoredButton
        client:load
        text="เลือกที่จะแวะเที่ยวตามทาง แวะตามที่เที่ยวต่าง ๆ\nหาประสบการณ์แปลกใหม่\nเพลิดเพลินกับการเดินทาง"
        scores={[0, 2, 2, 1, 2, 0]}
      />
      <ScoredButton
        client:load
        text="ออกเดินทางไปยังจุดหมายโดยทันที\nโดยไม่ออกนอกลู่นอกทาง\nเพื่อให้จบงานได้เร็วที่สุด"
        scores={[2, 0, 0, 0, 0, 2]}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
