---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScoredButton from "@/components/story/ScoredButton";
import ChoiceCard from "@/components/story/ChoiceCard";
const redirect = "./Scene10";
---

<BaseLayout>
  <form
    class="flex w-full flex-col items-center justify-center gap-8"
    action={redirect}
  >
    <ChoiceCard header="ถ้าคุณเลือกชีวิตในอุดมคติได้\nคุณอยากใช้ชีวิตยังไง">
      <ScoredButton
        client:load
        text="ชีวิตที่สงบเรียบง่าย"
        scores={[2, 2, 1, 0, 1, 0]}
      />
      <ScoredButton
        client:load
        text="ชีวิตโลดโผน มีอิสระ"
        scores={[0, 1, 1, 2, 1, 2]}
      />
      <ScoredButton
        client:load
        text="ชีวิตในโลกอื่น"
        scores={[0, 1, 0, 2, 2, 0]}
      />
    </ChoiceCard>
  </form>
</BaseLayout>
