---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tap from "@/components/story/Tap";
import CookieText from "@/components/story/CookieText";
---

<BaseLayout>
  <div
    class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 items-center justify-center px-12 text-center font-bold text-white"
  >
    <CookieText cookiePath="q13" client:only />
  </div>
  <Tap client:load redirect="/story/scene12-2" />
</BaseLayout>
