---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tap from "../../components/story/Tap";
import "@fontsource/mitr";
---

<BaseLayout>
  <div class="relative z-0 h-screen w-screen bg-black">
    <p
      class="absolute left-1/2 top-1/2 w-screen -translate-x-1/2 -translate-y-1/2 text-center font-['mitr'] text-xl text-white"
    >
      คุณกำลังจะออกจากบาร์<br />
       บาร์เทนเดอร์มอบการ์ด<br />
       ให้คุณเป็นของขวัญ
    </p>
    <p
      class="absolute left-[73.488372093%] top-[63.30472103%] text-center text-white/50"
    >
      Tap to<br />continue
    </p>
  </div>
  <Tap client:load redirect="./Scene14cont" />
</BaseLayout>
