---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tap from "../../components/story/Tap";
import Bubble from "@/assets/elements/Bubble-box-1.png";
import "@fontsource/mitr";
---

<BaseLayout>
  <div class="relative z-0 h-screen w-screen bg-black">
    <img
      class="fade-in-text relative z-0 mx-auto h-screen w-screen object-cover"
      src={Bubble.src}
      alt="bar"
    />
    <p
      class="fade-in-text absolute left-1/2 top-1/2 w-screen -translate-x-1/2 -translate-y-1/2 text-center font-['mitr'] text-xl text-black"
    >
      อืมม แต่สุดท้ายแล้ว<br />
       ผมมาชงเหล้าให้คุณ<br />
       ผมก็มีความสุขมาก ๆ แล้ว
    </p>
    <p
      class="fade-in-text absolute left-[73.488372093%] top-[63.30472103%] text-center text-white/50"
    >
      Tap to<br />continue
    </p>
  </div>
  <Tap client:load redirect="./Q12" />
</BaseLayout>
