---
import "@fontsource/mitr/thai-400.css";
import "@fontsource/ibm-plex-sans-thai/thai-600.css";
import "@fontsource/ibm-plex-sans-thai/thai-500.css";

import "@/styles/global.css";

import { ViewTransitions } from "astro:transitions";
interface Props {
  pageTitle?: string;
}

const { pageTitle = "GearFestival" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <main
      class="absolute left-1/2 flex min-h-dvh w-full max-w-md -translate-x-1/2 bg-black font-sans"
    >
      <slot />
    </main>
    <script>
      import { Howl } from "howler";
      const sound = new Howl({
        src: ["/music/night-jazz.mp3"],
        loop: true,
        volume: 0.5,
        html5: true,
        onplayerror: function () {
          sound.once("unlock", function () {
            sound.play();
          });
        },
      });
      document.addEventListener("astro:page-load", () => {
        if (window.location.pathname === "/story/scene1") {
          sound.play();
        } else if (window.location.pathname === "/") {
          sound.stop();
        }
      });
    </script>
  </body>
</html>
