---
import "@fontsource/mitr/thai-400.css";
import "@fontsource/ibm-plex-sans-thai/thai-600.css";
import "@fontsource/ibm-plex-sans-thai/thai-500.css";

import "@/styles/global.css";

import { ViewTransitions } from "astro:transitions";
import BGM from "@/components/story/BGM";
interface Props {
  pageTitle?: string;
}

const { pageTitle = "GearFestival" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#864974" />
    <title>{pageTitle}</title>
    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2V998MNL50"
    ></script>
    <script is:inline>
      // @ts-expect-error google tag
      window.dataLayer = window.dataLayer || [];
      // @ts-expect-error google tag
      function gtag() {
        window.dataLayer.push(arguments);
      }
      // @ts-expect-error google tag
      gtag("js", new Date());
      // @ts-expect-error google tag
      gtag("config", "G-2V998MNL50");
    </script>
  </head>
  <body>
    <main
      class="absolute left-1/2 flex min-h-dvh w-full max-w-md -translate-x-1/2 bg-black font-sans"
    >
      <slot />
    </main>
    <BGM client:only />
  </body>
</html>
