---
import "@fontsource/mitr/thai-400.css";
import "@fontsource/ibm-plex-sans-thai/thai-600.css";
import "@fontsource/ibm-plex-sans-thai/thai-500.css";

import "@/styles/global.css";

import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import BGM from "@/components/story/BGM";
interface Props {
  pageTitle?: string;
}

const { pageTitle = "GearFestival | Find your cocktail !" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={pageTitle}
      description="มาร่วมค้นหาค็อกเทลที่ตรงใจคุณกับงาน Gear Festival 2024 TU X CU ในวันที่ 2 กุมภาพันธ์ 2567 ติดตามรายละเอียดเพิ่มเติมได้ผ่านทาง IG: gearfestival_official"
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: "/gearfest.webp",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.png", type: "image/svg+xml" }],
        // extending the default meta tags
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "theme-color",
            content: "#864974",
          },
          {
            name: "twitter:card",
            content: "summary_large_image",
          },
          {
            name: "twitter:title",
            content: pageTitle,
          },
          {
            name: "twitter:description",
            content:
              "มาร่วมค้นหาค็อกเทลที่ตรงใจคุณกับงาน Gear Festival 2024 TU X CU ในวันที่ 2 กุมภาพันธ์ 2567 ติดตามรายละเอียดเพิ่มเติมได้ผ่านทาง IG: gearfestival_official",
          },
          {
            name: "twitter:image",
            content: "/gearfest.webp",
          },
        ],
      }}
    />
    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2V998MNL50"
    ></script>
    <script is:inline>
      // @ts-expect-error google tag
      window.dataLayer = window.dataLayer || [];
      // @ts-expect-error google tag
      function gtag() {
        window.dataLayer.push(arguments);
      }
      // @ts-expect-error google tag
      gtag("js", new Date());
      // @ts-expect-error google tag
      gtag("config", "G-2V998MNL50");
    </script>
  </head>
  <body>
    <main
      class="absolute left-1/2 flex min-h-dvh w-full max-w-md -translate-x-1/2 bg-black font-sans"
    >
      <slot />
    </main>
    <BGM client:only />
  </body>
</html>
