---
import "@fontsource/mitr/thai-400.css";
import "@fontsource/ibm-plex-sans-thai/thai-600.css";
import "@fontsource/ibm-plex-sans-thai/thai-500.css";

import "@/styles/global.css";

import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import BGM from "@/components/story/BGM";
interface Props {
  pageTitle?: string;
}

const { pageTitle = "GearFestival | Find your cocktail !" } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={pageTitle}
      description="มาร่วมค้นหาค็อกเทลที่ตรงใจคุณกับงาน Gear Festival 2024 TU X CU ในวันที่ 2 กุมภาพันธ์ 2567 ติดตามรายละเอียดเพิ่มเติมได้ผ่านทาง IG: gearfestival_official"
      titleDefault="GearFestival | Find your cocktail !"
      charset="utf-8"
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: "/gearfest.png",
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: pageTitle,
        description:
          "มาร่วมค้นหาค็อกเทลที่ตรงใจคุณกับงาน Gear Festival 2024 TU X CU ในวันที่ 2 กุมภาพันธ์ 2567 ติดตามรายละเอียดเพิ่มเติมได้ผ่านทาง IG: gearfestival_official",
        image: "/gearfest.png",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png", type: "image/svg+xml" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "theme-color",
            content: "#864974",
          },
        ],
      }}
    />
    <ViewTransitions />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2V998MNL50"
    ></script>
    <script is:inline>
      // @ts-expect-error google tag
      window.dataLayer = window.dataLayer || [];
      // @ts-expect-error google tag
      function gtag() {
        window.dataLayer.push(arguments);
      }
      // @ts-expect-error google tag
      gtag("js", new Date());
      // @ts-expect-error google tag
      gtag("config", "G-2V998MNL50");
    </script>
    <!-- Google ads -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2286362650818492"
      crossorigin="anonymous"></script>
    <!-- Ads recovery -->
    <script
      async
      src="https://fundingchoicesmessages.google.com/i/pub-2286362650818492?ers=1"
      nonce="QITOrEGQ4TN7L5LiOAtVnQ"></script><script
      nonce="QITOrEGQ4TN7L5LiOAtVnQ"
    >
      (function () {
        function signalGooglefcPresent() {
          if (!window.frames["googlefcPresent"]) {
            if (document.body) {
              const iframe = document.createElement("iframe");
              iframe.style =
                "width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;";
              iframe.style.display = "none";
              iframe.name = "googlefcPresent";
              document.body.appendChild(iframe);
            } else {
              setTimeout(signalGooglefcPresent, 0);
            }
          }
        }
        signalGooglefcPresent();
      })();
    </script>
  </head>
  <body>
    <main
      class="absolute left-1/2 flex min-h-dvh w-full max-w-md -translate-x-1/2 bg-black font-sans"
    >
      <slot />
    </main>
    <BGM client:only />
  </body>
</html>
