---
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card";
import ButtonSet from "@/components/story/ButtonSet";
import FooterDecorator from "@/components/story/FooterDecorator.astro";

import Logo from "@/assets/elements/logo.webp";
import { BACKGROUND, type Cocktail } from "@/data/cocktail";

interface Props extends Cocktail {
  img: string;
}

const { variant, img } = Astro.props;
---

<BaseLayout>
  <div
    id="result"
    class:list={[
      "relative flex w-full flex-col items-center justify-center gap-4 overflow-hidden bg-cover bg-repeat pb-16",
      BACKGROUND[variant],
    ]}
  >
    <Image src={Logo} class="mx-auto mt-8 w-20" alt="" />
    <Card client:load variant={variant} img={img}>
      <slot />
    </Card>
    <ButtonSet client:load variant={variant} />
    <FooterDecorator />
  </div>
</BaseLayout>
